    <!-- Breadcome start-->
    <div class="breadcome-area mg-b-30 mg-t-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                        <div class="breadcome-heading">
                            <h2>Add Sub Categories</h2>
                        </div>
                        <ul class="breadcome-menu">
                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                            </li>
                            <li><span class="bread-blod">Add Sub Categories</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcome End-->
    <!-- tabs start-->
    <div class="admintab-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="admintab-wrap mg-b-40 button_margin">
                        <a href="#/show_sub_categories"><button type="button" class="btn btn-custon-four btn-primary pull-right mg-t-50 mg-b-20">Show Sub Categories</button></a>
                        <ul class="nav nav-tabs custom-menu-wrap custon-tab-menu-style1">
                            
                            <!-- <li><a data-toggle="tab" href="#edit_category"><span class="adminpro-icon adminpro-analytics-arrow tab-custon-ic"></span>Edit Category</a>
                            </li> -->
                        </ul>
                        <div class="tab-content">
                            <div id="add_category" class="tab-pane in active animated flipInX custon-tab-style1">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="sparkline12-list mg-t-30">
                                            <div class="sparkline12-graph">
                                                <div class="basic-login-form-ad">
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <div  ng-controller="AddSubCategoryController">
                                                            
                                                            <div class="all-form-element-inner">
                                                                <form name="addSubCategoryForm" id="addSubCategoryForm" ng-submit="submitSubCategoryForm()" novalidate enctype="multipart/form-data">
                                                                    <div class="form-group-inner">
                                                                        <div class="row mg-b-10" >
                                                                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                                                                <label class="login2 pull-right pull-right-pro">Image</label>
                                                                            </div>
                                                                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                                                                
                                                                                <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                                    <div class="input append-small-btn">
                                                                                        <div class="file-button">
                                                                                            Browse
                                                                                            <input type="file" onchange="document.getElementById('append-small-btn').value = this.value;" ngf-select ng-model="cat_img" name="cat_img"    
                                                                                                 accept="image/*" ngf-max-size="2MB" required
                                                                                                 ngf-model-invalid="errorFile">
                                                                                        </div>
                                                                                        <input type="text" id="append-small-btn" placeholder="no file selected">
                                                                                        <div class="text-left mg-b-30" ng-show="addSubCategoryForm.file.$error.required">Upload image is required</i><br>
                                                                                          <i ng-show="addSubCategoryForm.file.$error.maxSize">File too large 
                                                                                              {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                                                                                          <img ng-show="addSubCategoryForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group-inner">
                                                                        <div class="row" ng-class="{ 'has-error' : addSubCategoryForm.sub_category_name.$invalid && !addSubCategoryForm.sub_category_name.$pristine }">
                                                                            <div class="col-lg-3">
                                                                                <label class="login2 pull-right pull-right-pro">Category Name</label>
                                                                            </div>
                                                                            <div class="col-lg-9">
                                                                                <input type="text" class="form-control" name="sub_category_name" ng-model="sub_category_name" required>
                                                                                <p ng-show="addSubCategoryForm.sub_category_name.$invalid && !addSubCategoryForm.sub_category_name.$pristine" class="help-block">Enter a Category Name.</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group-inner">
                                                                        <div class="row" ng-class="{ 'has-error' : addSubCategoryForm.cat_id.$invalid && !addSubCategoryForm.cat_id.$pristine }">
                                                                            <div class="col-lg-3">
                                                                                <label class="login2 pull-right pull-right-pro">Category Id</label>
                                                                            </div>
                                                                            <div class="col-lg-9">
                                                                                <input type="number" class="form-control" name="cat_id" ng-model="cat_id" required>
                                                                                <p ng-show="addSubCategoryForm.cat_id.$invalid && !addSubCategoryForm.cat_id.$pristine" class="help-block">Enter a Category Id.</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="form-group-inner">
                                                                        <div class="login-btn-inner">
                                                                            <div class="row">
                                                                                <div class="col-lg-3"></div>
                                                                                <div class="col-lg-9">
                                                                                    <div class="login-horizental cancel-wp pull-left">
                                                                                        <button class="btn btn-white" type="submit">Cancel</button>
                                                                                        <button class="btn btn-sm btn-primary login-submit-cs" ng-disabled="!addSubCategoryForm.$valid" ng-click="uploadPic(cat_img)">Submit</button>
                                                                                          <span class="progress" ng-show="cat_img.progress >= 0">
                                                                                            <div style="width:{{cat_img.progress}}%" 
                                                                                                ng-bind="cat_img.progress + '%'"></div>
                                                                                          </span>
                                                                                          <span ng-show="cat_img.result">Upload Successful</span>
                                                                                          <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div id="edit_category" class="tab-pane animated flipInX custon-tab-style1">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tabs End-->
   