<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login | Adminpro - Template Shortcode</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- adminpro icon CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/adminpro-custon-icon.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/normalize.css">
    <!-- form CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/form.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- tabs CSS
        ============================================ -->
    <link rel="stylesheet" href="assets/css/tabs.css">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="assets/css/form/all-type-forms.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <!-- modernizr JS
		============================================ -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- sweet alert
        ============================================ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">
    <!-- datapicker CSS
        ============================================ -->
    <link rel="stylesheet" href="assets/css/datapicker/datepicker3.css">
     <!-- select2 CSS
        ============================================ -->
    <link rel="stylesheet" href="assets/css/select2/select2.min.css">
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Header top area start-->
    <div ng-show="isLoggedin" class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="admin-logo">
                        <a href="#/"><img src="assets/img/logo/log.png" alt="" />
                        </a>
                    </div>
                </div> 
                <div class="col-lg-9 col-md-9 col-sm-0 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav mai-top-nav">
                             <li class="nav-item"><a href="#/dashboard" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                    <a data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">Add Items <span class="angle-down-topmenu"><i class="fa fa-angle-down"></i></span></a>
                                    <div role="menu" class="dropdown-menu animated flipInX">
                                        <a href="#/add_categories" class="dropdown-item">Add Category</a>
                                        <a href="#/add_sub_categories" class="dropdown-item">Add Sub Categories</Sub></a>
                                        <a href="#/add_services" class="dropdown-item">Add Services</a>
                                        <a href="#/add_packages" class="dropdown-item">Add Packages</a>
                                        <a href="#/add_product" class="dropdown-item">Add Products</a>
                                        <a href="#/add_membership" class="dropdown-item">Add Memberships</a>
                                        <a href="#/add_beautytip" class="dropdown-item">Add Beauty-tips</a>
                                        <a href="#/add_promotions" class="dropdown-item">Add Promotions</a>
                                        <a href="#/add_branch" class="dropdown-item">Add Branches</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">Show Items <span class="angle-down-topmenu"><i class="fa fa-angle-down"></i></span></a>
                                    <div role="menu" class="dropdown-menu animated flipInX">
                                        <a href="#/users" class="dropdown-item">Show Users</a>
                                        <a href="#/show_categories" class="dropdown-item">Show Categories</a>
                                        <a href="#/show_sub_categories" class="dropdown-item">Show Sub Categories</Sub></a>
                                        <a href="#/show_services" class="dropdown-item">Show Services</a>
                                        <a href="#/show_packages" class="dropdown-item">Show Packages</a>
                                        <a href="#/show_products" class="dropdown-item">Show Products</a>
                                        <a href="#/show_memberships" class="dropdown-item">Show Memberships</a>
                                        <a href="#/show_beauty_tips" class="dropdown-item">Show Beauty-tips</a>
                                        <a href="#/show_promotions" class="dropdown-item">Show Promotions</a>
                                        <a href="#/show_branches" class="dropdown-item">Show Branches</a>
                                    </div>
                                </li>
                           
                           <!-- <li class="nav-item"><a href="#/users"  class="nav-link">Users</a>
                            </li>
                            <li class="nav-item"><a href="#/add_packages" class="nav-link">Packages</a>
                            </li>
                            <li class="nav-item"><a href="#/add_promotions" class="nav-link">Promotions</a>
                            </li>
                            <li class="nav-item"><a href="#/add_categories" class="nav-link">Categories</a>
                            </li>
                            <li class="nav-item"><a href="#/add_sub_categories" class="nav-link">SubCategories</a>
                            </li>
                             <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">Project <span class="angle-down-topmenu"><i class="fa fa-angle-down"></i></span></a>
                                <div role="menu" class="dropdown-menu animated flipInX">
                                    <a href="#" class="dropdown-item">Company Info</a>
                                    <a href="#" class="dropdown-item">Documentation</a>
                                    <a href="#" class="dropdown-item">Expert Backend</a>
                                    <a href="#" class="dropdown-item">Expert FrontEnd</a>
                                    <a href="#" class="dropdown-item">Contact Support</a>
                                </div>
                            </li> 
                            <li class="nav-item"><a href="#/add_services" class="nav-link">Services</a>
                            </li>
                            
                            <li class="nav-item"><a href="#/add_beautytip" class="nav-link">Beauty Tips</a>
                            </li>
                            <li class="nav-item"><a href="#/add_product"  class="nav-link">Products</a>
                            </li>-->
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Header top area end-->
    <!-- Main Menu area start
    <div  ng-show="isLoggedin"  class="main-menu-area mg-t-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs custom-menu-wrap">
                        <li><a data-toggle="tab" href="#Home">Home</a>
                        </li>
                        <li class="active"><a data-toggle="tab" href="#Page">Page</a>
                        </li>
                    </ul>
                    <div class="tab-content custom-menu-content">
                        <div id="Home" class="tab-pane tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="#/">Dashboard v.1</a>
                                </li>
                            </ul>
                        </div>
                        <div id="Page" class="tab-pane in active tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li><a href="#/">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Main Menu area End-->
    <!-- Mobile Menu start -->
    <div  ng-show="isLoggedin"  class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li><a data-toggle="collapse" data-target="#Charts" href="#">Home <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul class="collapse dropdown-header-top">
                                        <li><a href="dashboard.html">Dashboard v.1</a>
                                        </li>
                                        <li><a href="dashboard-2.html">Dashboard v.2</a>
                                        </li>
                                        <li><a href="analytics.html">Analytics</a>
                                        </li>
                                        <li><a href="widgets.html">Widgets</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demo" href="#">Mailbox <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="demo" class="collapse dropdown-header-top">
                                        <li><a href="inbox.html">Inbox</a>
                                        </li>
                                        <li><a href="view-mail.html">View Mail</a>
                                        </li>
                                        <li><a href="compose-mail.html">Compose Mail</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#others" href="#">Miscellaneous <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="others" class="collapse dropdown-header-top">
                                        <li><a href="profile.html">Profile</a>
                                        </li>
                                        <li><a href="contact-client.html">Contact Client</a>
                                        </li>
                                        <li><a href="contact-client-v.1.html">Contact Client v.1</a>
                                        </li>
                                        <li><a href="project-list.html">Project List</a>
                                        </li>
                                        <li><a href="project-details.html">Project Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">Interface <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                        <li><a href="google-map.html">Google Map</a>
                                        </li>
                                        <li><a href="data-maps.html">Data Maps</a>
                                        </li>
                                        <li><a href="pdf-viewer.html">Pdf Viewer</a>
                                        </li>
                                        <li><a href="x-editable.html">X-Editable</a>
                                        </li>
                                        <li><a href="code-editor.html">Code Editor</a>
                                        </li>
                                        <li><a href="tree-view.html">Tree View</a>
                                        </li>
                                        <li><a href="preloader.html">Preloader</a>
                                        </li>
                                        <li><a href="images-cropper.html">Images Cropper</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#Chartsmob" href="#">Charts <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Chartsmob" class="collapse dropdown-header-top">
                                        <li><a href="bar-charts.html">Bar Charts</a>
                                        </li>
                                        <li><a href="line-charts.html">Line Charts</a>
                                        </li>
                                        <li><a href="area-charts.html">Area Charts</a>
                                        </li>
                                        <li><a href="rounded-chart.html">Rounded Charts</a>
                                        </li>
                                        <li><a href="c3.html">C3 Charts</a>
                                        </li>
                                        <li><a href="sparkline.html">Sparkline Charts</a>
                                        </li>
                                        <li><a href="peity.html">Peity Charts</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#Tablesmob" href="#">Tables <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Tablesmob" class="collapse dropdown-header-top">
                                        <li><a href="static-table.html">Static Table</a>
                                        </li>
                                        <li><a href="data-table.html">Data Table</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#Tablesmob" href="#">Forms <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Tablesmob" class="collapse dropdown-header-top">
                                        <li><a href="basic-form-element.html">Basic Form Elements</a>
                                        </li>
                                        <li><a href="advance-form-element.html">Advanced Form Elements</a>
                                        </li>
                                        <li><a href="password-meter.html">Password Meter</a>
                                        </li>
                                        <li><a href="multi-upload.html">Multi Upload</a>
                                        </li>
                                        <li><a href="tinymc.html">Text Editor</a>
                                        </li>
                                        <li><a href="dual-list-box.html">Dual List Box</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#Appviewsmob" href="#">App views <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Appviewsmob" class="collapse dropdown-header-top">
                                        <li><a href="basic-form-element.html">Basic Form Elements</a>
                                        </li>
                                        <li><a href="advance-form-element.html">Advanced Form Elements</a>
                                        </li>
                                        <li><a href="password-meter.html">Password Meter</a>
                                        </li>
                                        <li><a href="multi-upload.html">Multi Upload</a>
                                        </li>
                                        <li><a href="tinymc.html">Text Editor</a>
                                        </li>
                                        <li><a href="dual-list-box.html">Dual List Box</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#Pagemob" href="#">Pages <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Pagemob" class="collapse dropdown-header-top">
                                        <li><a href="login.html">Login</a>
                                        </li>
                                        <li><a href="register.html">Register</a>
                                        </li>
                                        <li><a href="captcha.html">Captcha</a>
                                        </li>
                                        <li><a href="checkout.html">Checkout</a>
                                        </li>
                                        <li><a href="contact.html">Contacts</a>
                                        </li>
                                        <li><a href="review.html">Review</a>
                                        </li>
                                        <li><a href="order.html">Order</a>
                                        </li>
                                        <li><a href="comment.html">Comment</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->