<div class="breadcome-area mg-b-30 mg-t-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                        <div class="breadcome-heading">
                            <h2>Employees Table</h2>
                        </div>
                        <ul class="breadcome-menu">
                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                            </li>
                            <li><span class="bread-blod">Employees Data</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="data-table-area mg-b-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline8-list button_margin">
                        <a href="#/add_employee"><button type="button" class="btn btn-custon-four btn-primary pull-right mg-t-50 mg-b-20">Add Employees</button></a>
                        <ul class="nav nav-tabs custom-menu-wrap custon-tab-menu-style1">
                            
                        </ul>
                        <div class="sparkline8-graph">
                            <div class="static-table-list">
                                <table class="table table-striped" datatable="ng" dt-options="vm.dtOptions">
                                    <thead>
                                      <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Branch</th>
                                        <th>Address</th>
                                        <th>Pin Code</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      <tr ng-repeat="employee in employeesData">
                                        <td>{{ employee.employee_name }}</td>
                                        <td>{{ employee.email_id }}</td>
                                        <td>{{ employee.phone }}</td>
                                        <td>{{ employee.employee_branch }}</td>
                                        <td>{{ employee.employee_address }}</td>
                                        <td>{{ employee.employee_pincode }}</td>
                                        <td class="v-middle">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn" ng-click="editEmployee(employee.employee_id)"><i class="glyphicon glyphicon-pencil"></i></button> 
                                                <button type="button" class="btn btn-default btn" ng-click="f2(employee.employee_id,$index)"><i class="glyphicon glyphicon-trash"></i></button> 
                                            </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div modal="showModal" close="cancel()">
        <div class="modal-header">
            <h4>Edit EMployee</h4>
        </div>
        <div class="modal-body">
            <div  ng-controller="EditEmployeeController">
                <div class="all-form-element-inner">
                    <div>
                        <form name="editEmployeeForm" id="editEmployeeForm" novalidate enctype="multipart/form-data">
                            <input type="hidden" ng-model="employeesByIdData.employee_id" name="employee_id">
                            <div class="form-group-inner">
                                <div class="row" ng-class="{ 'has-error' : editEmployeeForm.employee_name.$invalid && !editEmployeeForm.employee_name.$pristine }">
                                    <div class="col-lg-3">
                                        <label class="login2 pull-right pull-right-pro">Name</label>
                                    </div>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" name="employee_name" ng-model="employeesByIdData.employee_name" required>
                                        <p ng-show="editEmployeeForm.employee_name.$invalid && !editEmployeeForm.employee_name.$pristine" class="help-block">Enter a Employee name.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="chosen-select-single">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label class="login2 pull-right pull-right-pro"><strong>Role</strong></label>
                                        </div>
                                        <div class="col-lg-4 text-left">
                                            <div ng-dropdown-multiselect="" options="role" selected-model="selected_roles"
                                                 extra-settings="selected_roles_settings"
                                                 translation-texts="selected_roles_customTexts" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row" ng-class="{ 'has-error' : editEmployeeForm.email_id.$invalid && !editEmployeeForm.email_id.$pristine }">
                                    <div class="col-lg-3">
                                        <label class="login2 pull-right pull-right-pro">Email Id </label>
                                    </div>
                                    <div class="col-lg-9">
                                        <input type="email" class="form-control" name="email_id" ng-model="employeesByIdData.email_id" required>
                                        <p ng-show="editEmployeeForm.email_id.$invalid && !editEmployeeForm.email_id.$pristine" class="help-block">Enter a employee email id.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row" ng-class="{ 'has-error' : editEmployeeForm.phone.$invalid && !editEmployeeForm.phone.$pristine }">
                                    <div class="col-lg-3">
                                        <label class="login2 pull-right pull-right-pro">Contact Number</label>
                                    </div>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" name="phone" ng-model="employeesByIdData.phone" required>
                                        <p ng-show="editEmployeeForm.phone.$invalid && !editEmployeeForm.phone.$pristine" class="help-block">Enter a employee contact number.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row" ng-class="{ 'has-error' : editEmployeeForm.employee_branch.$invalid && !editEmployeeForm.employee_branch.$pristine }">
                                    <div class="col-lg-3">
                                        <label class="login2 pull-right pull-right-pro">Branch</label>
                                    </div>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" name="employee_branch" ng-model="employeesByIdData.employee_branch" required>
                                        <p ng-show="editEmployeeForm.employee_branch.$invalid && !editEmployeeForm.employee_branch.$pristine" class="help-block">Enter a employee branch.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row" ng-class="{ 'has-error' : editEmployeeForm.employee_address.$invalid && !editEmployeeForm.employee_address.$pristine }">
                                    <div class="col-lg-3">
                                        <label class="login2 pull-right pull-right-pro">Address</label>
                                    </div>
                                    <div class="col-lg-9">
                                        <textarea class="form-control" name="employee_address" ng-model="employeesByIdData.employee_address" required cols="5" rows="5" />
                                    <p ng-show="editEmployeeForm.employee_address.$invalid && !editEmployeeForm.employee_address.$pristine" class="help-block">Enter a employee address.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row"ng-class="{ 'has-error' : editEmployeeForm.employee_pincode.$invalid && !editEmployeeForm.employee_pincode.$pristine }">
                                    <div class="col-lg-3">
                                        <label class="login2 pull-right pull-right-pro">Pincode</label>
                                    </div>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" name="employee_pincode" ng-model="employeesByIdData.employee_pincode" required>
                                        <p ng-show="editEmployeeForm.employee_pincode.$invalid && !editEmployeeForm.employee_pincode.$pristine" class="help-block">Enter a employee pincode.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="login-btn-inner">
                                    <div class="row">
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-9">
                                            <div class="login-horizental cancel-wp pull-left">
                                                <button class="btn btn-white" type="submit" ng-click="cancel()">Cancel</button>
                                                <button type="submit" class="btn btn-sm btn-primary login-submit-cs" ng-disabled="editEmployeeForm.$invalid" ng-click="updateEmployeeForm()">Submit</button>
                                                <span ng-show="isLoading" class="ml20">
                                                    <img src="assets/img/loading.gif" class="loading_image"/>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
