<div class="breadcome-area mg-b-30 mg-t-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                        <div class="breadcome-heading">
                            <h2>Categories Table</h2>
                        </div>
                        <ul class="breadcome-menu">
                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                            </li>
                            <li><span class="bread-blod">Categories Data</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="data-table-area mg-b-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline8-list button_margin">
                        <a href="#/add_categories"><button type="button" class="btn btn-custon-four btn-primary pull-right mg-t-50 mg-b-20">Add Category</button></a>
                        <ul class="nav nav-tabs custom-menu-wrap custon-tab-menu-style1">
                            
                        </ul>
                        <div class="sparkline8-graph">
                            <div class="static-table-list">
                                <table class="table table-striped" datatable="ng" dt-options="vm.dtOptions">
                                    <thead>
                                      <tr>
                                        <th>Category Name</th>
                                        <th>Category Image</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      <tr ng-repeat="category in categoriesData">
                                        <td>{{ category.category_name }}</td>
                                        <td><img width="50" ng-src="http://ec2-54-88-194-105.compute-1.amazonaws.com:3000/uploads/{{category.cat_img}}" /></td>
                                        <td class="v-middle">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn" ng-click="editCategory(category.cat_id)"><i class="glyphicon glyphicon-pencil"></i></button>  
                                            </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div modal="showModal" close="cancel()">
        <div class="modal-header">
            <h4>Edit Category</h4>
        </div>
        <div class="modal-body">
            <div  ng-controller="EditCategoryController">
                <div class="all-form-element-inner">
                    <div ng-repeat="category in categoriesgetData">
                        <form name="editCategoryForm" id="editCategoryForm" novalidate enctype="multipart/form-data">
                            <div class="form-group-inner">
                                <div class="row mg-b-10" >
                                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                        <label class="login2 pull-right pull-right-pro">Image</label>
                                    </div>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                        
                                        <div class="file-upload-inner file-upload-inner-right ts-forms">
                                            <div class="input append-small-btn">
                                                <div class="file-button">
                                                    Browse
                                                    <input type="file" onchange="document.getElementById('append-small-btn').value = this.value;" ngf-select ng-model="category.cat_img" name="cat_img"    
                                                         accept="image/*" ngf-max-size="2MB" required
                                                         ngf-model-invalid="errorFile">
                                                </div>
                                                <input type="text" id="append-small-btn" ng-model="category.cat_img" placeholder="no file selected">
                                                <div class="text-left mg-b-30" ng-show="editCategoryForm.file.$error.required">Upload image is required</i><br>
                                                  <i ng-show="editCategoryForm.file.$error.maxSize">File too large 
                                                      {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                                                  <img ng-show="editCategoryForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label class="login2 pull-right pull-right-pro">Category Name</label>
                                    </div>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" name="category_name" ng-model="category.category_name" required>
                                    </div>
                                    <p ng-show="editCategoryForm.category_name.$invalid && !editCategoryForm.category_name.$pristine" class="help-block">Enter a Category Name.</p>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="login-btn-inner">
                                    <div class="row">
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-9">
                                            <div class="login-horizental cancel-wp pull-left">
                                                <button class="btn btn-white" type="submit" ng-click="cancel()">Cancel</button>
                                                <button class="btn btn-sm btn-primary login-submit-cs"  ng-click="updateCategoryForm(category)">Submit</button>
                                              <span class="progress" ng-show="cat_img.progress >= 0">
                                                <div style="width:{{cat_img.progress}}%" 
                                                    ng-bind="cat_img.progress + '%'"></div>
                                              </span>
                                              <span ng-show="cat_img.result">Upload Successful</span>
                                              <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="modal-footer">
          <button class="btn btn-success" ng-click="ok()">Okay</button>
          <button class="btn" ng-click="cancel()">Cancel</button>
        </div> -->
    </div>    